.bannerCtn {
  height: 800px;
  width: 100%;
  background-image: url(./img/BannerBk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tituloBanner {
  height: 294px;
  width: 590px;
  padding-top: 200px;
  margin-left: 100px;
}
.tituloBanner h1 {
  font-size: 72px;
  font-weight: bolder;
  line-height: 98px;
  color: #ffffff;
}
.tituloBanner span {
  color: #2e2929;
}
.botao {
  width: 200px;
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin: 50px 0 0 100px;
  border-radius: 4px;
  border: none;
  background-color: #00b5b5;

  transition: 0.4s;
}
.botao a {
  color: #005656;
}
.botao:hover {
  cursor: pointer;
  background-color: #005656;

  transition: 0.4s;
}
.botao a:hover {
  color: #00b5b5;
}

@media (max-width: 1000px) {
  .bannerCtn {
    height: 550px;
  }
  .tituloBanner {
    padding-top: 100px;
    margin-left: 60px;
  }
  .tituloBanner h1 {
    font-size: 64px;
    font-weight: bolder;
    line-height: 84px;
    color: #ffffff;
  }
  .botao {
    margin: 20px 0 0 60px;
  }
}
@media (max-width: 670px) {
  .bannerCtn {
    height: 400px;
  }
  .tituloBanner {
    height: 200px;
    width: 590px;
    padding-top: 100px;
    margin-left: 30px;
  }
  .tituloBanner h1 {
    font-size: 42px;
    line-height: 48px;
    font-weight: bolder;
  }

  .botao {
    width: 150px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin: 0px 0 0 30px;
    border-radius: 4px;
  }
}
@media (max-width: 500px) {
  .bannerCtn {
    height: 400px;
  }
  .tituloBanner {
    height: 200px;
    width: 590px;
    padding-top: 100px;
    margin-left: 30px;
  }
  .tituloBanner h1 {
    font-size: 36px;
    line-height: 48px;
  }
}
