.projetosCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 80px auto 0 auto;
}
.holder {
  display: flex;
  justify-content: center;
  background-color: #171717;
}
.projetoBoxCtn {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 20px;
  margin: 20px;
}
.tituloLateral {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
  right: 1px;
  width: 150px;
}
.tituloLateral h1 {
  display: flex;
  text-align: center;
  align-items: center;
  transform: rotateZ(-90deg);
  font-size: 40px;
  color: #eeee;
  font-weight: 300;
}
.projetoBox {
  height: 200px;
  width: 200px;
}
@media (max-width: 1185px) {
  .projetoBoxCtn {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    margin: 20px;
  }
}
@media (max-width: 710px) {
}
@media (max-width: 560px) {
  .projetosCtn {
    margin: 80px 1rem 0 1rem;
  }
  .tituloLateral {
    width: 150px;
  }
}
